{% extends 'base.html' %}

{% block content %}
  <center>
    <h1>Welcome to flashcard website</h1>
  </center>
  {% if request.user.is_authenticated %}
    <div style="height: 40px;"></div>
    <p style="font-size: large;">
      To start the app click on the <mark style="background-color: aquamarine;">start</mark> button
    </p>
    <center>
      <a href="{% url 'home:flashcard_list' %}"><button>start</button></a>
    </center>
  {% else %}
    <style>
      .login-text {
        font-size: 18px;
      }
    </style>

    <div style="padding-top: 50px;">
      <p class="login-text">
        please <a href="{% url 'home:user_login' %}"><button>login</button></a> or <a href="{% url 'home:user_register' %}"><button>sign up</button></a> to access flashcards
      </p>
    </div>
  {% endif %}
{% endblock %}
